.dashboard {
  align-self: center;
  border-radius: 5px;
  font-size: 2rem;
  padding: 1rem 0;
  display: flex;
  justify-content: space-around;
  @media (max-width: 768px) {
    font-size: 1rem !important;
    padding: 1.5rem 0;
  }
  .x {
    color: red;
  }
  .o {
    color: blue;
  }
  .active {
    border: 5px solid #ff9a8b;
    padding: 1rem;
    border-radius: 5px;
  }
  .inactive {
    border: 5px solid transparent;
    padding: 1rem;
  }
}
